*{
	margin: 0px;
	padding: 0px;
}

body{
	
	background-color: #ffffff;
}

.header{
	text-align: center;
	background: url(../Imagenes/colegio.jpg);
	height: 300px;
	background-size: 100% 100%;
	margin: auto;
	overflow: hidden;
}

.header h1{
	
	font-family: inherit;
	font-size: 60px;
	text-align: center;
	margin-top: 80px;
	color: #fff;
}


.header h2{
	
	font-family: cursive;
	font-size: 35px;
	text-align: center;
	margin-top: -200px;
	color: #fff;
}

.header h3{
	
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	color: #fff;
	
}

.header a{
	
	text-decoration: none;
	color: #fff;
}


#logo{
	
	float:left;
	margin:10px;
	opacity: 0.8;
    -moz-opacity: 0.7;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
 
}
#img1{
	
	margin-top: 50px;
    -webkit-filter: brightness(100%);
    border-radius: 20px;
    
}

#img1:hover{
	-webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

h2{
	text-align: center;
	color: #fff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#menu{
	width: 300px;
	height: 100%;
    background: transparent;

}

#menu ul{
	
	padding-top: 20px;
	margin-left: -30px;
	margin-right: 20px;
}

#menu ul a{
	
	text-decoration: none;
	color: #f2f2f2;
	font: 18px Verdana;
	display: block;
	background: #2E64FE;
	margin-bottom: 10px;
	padding: 10px 20px 10px 50px;
	border-radius: 15px;
	transition:background .6s, margin-left .6s, margin-right .6s;
	-webkit-transition:background .6s, margin-left .6s, margin-right .6s;
	-moz-transition:background .6s, margin-left .6s, margin-right .6s;
	-o-transition:background .6s, margin-left .6s, margin-right .6s;
	
	
}

#menu ul a:hover{
	
	margin-right: -20px;
	margin-left: 20px;
	background: #0431B4;
	
}

#myTable thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}